<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Tech Project {% endblock %}</title>
        
        <style>
        </style>
    </head>

    <body>
        <h1 class="page_title">Welcome to Boba Task Management - BTM</h1>
        <div class="link_pages">
            <a class="link" href="{% url 'search_task' %}">Search Tasks</a>
            <a class="link" href="{% url 'add_task' %}">Add Task</a>
            <a class="link" href="{% url 'edit_task' 0 1 %}">Edit Task</a>
        </div>
        {% block content %}{% endblock %}
    </body>